  body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.2em;
  }
  

img {
    max-width: 100%;
    display: block;
}

.logo {
  font-size: 200%;
  padding: 50px 20px;
  margin: 0 auto;
  max-width: 980px;
  
}

.logo,
h1,
h2 {
  color: #333;
}


.grid {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 980px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "article aside";
  grid-gap: 20px;

}

nav {
  background-color: #000;
  padding: .5em;
    position: sticky;
    top: 0px;
  }
  

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
}

nav a:hover {
  border-bottom: 2px solid #39f;
}

p a {
  color: #3399ff;
}

.photos {
  list-style: none;
  margin: 0;
  padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1px;
  }
  
.feature {
    width: 200px;
  float: left;
  padding-right: 0.8em;
  padding-bottom: 0.8em;
}
